
* {
	font-family: Arial;
}

h1, h2 {
	text-align: center;
}

.selector {
	padding-top: 50px;
	padding-left: 150px;
	padding-right: 150px;
	align-self: center;
	align-items: center;
	align-content: center;
    justify-content: center;
}

ul {
	font-size: x-large;
	list-style-position: outside; 
	width: 200px;
	padding-inline-start: 40%;
}
