@import url(//db.onlinewebfonts.com/c/ba05de4b4767452bff18bfa18e1a11c1?family=Handset+Sans);
@import url(//db.onlinewebfonts.com/c/985a59988b7aa29ca8181d73d0dbb72d?family=AdonideW01-Light);

@font-face {font-family: "AdonideW01-Light";
    src: url("//db.onlinewebfonts.com/t/985a59988b7aa29ca8181d73d0dbb72d.eot");
    src: url("//db.onlinewebfonts.com/t/985a59988b7aa29ca8181d73d0dbb72d.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/985a59988b7aa29ca8181d73d0dbb72d.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/985a59988b7aa29ca8181d73d0dbb72d.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/985a59988b7aa29ca8181d73d0dbb72d.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/985a59988b7aa29ca8181d73d0dbb72d.svg#AdonideW01-Light") format("svg");
}
@font-face {font-family: "Handset Sans";
    src: url("//db.onlinewebfonts.com/t/7600b21a52074314d1f6170b4b828955.eot");
    src: url("//db.onlinewebfonts.com/t/7600b21a52074314d1f6170b4b828955.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/7600b21a52074314d1f6170b4b828955.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/7600b21a52074314d1f6170b4b828955.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/7600b21a52074314d1f6170b4b828955.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/7600b21a52074314d1f6170b4b828955.svg#Handset Sans") format("svg");
}

.selector {
	padding-top: 50px;
	padding-left: 150px;
	padding-right: 150px;
	align-self: center;
	align-items: center;
	align-content: center;
    justify-content: center;
    font-family: Handset Sans;
    text-align: center;
}

.selector ul {
	font-size: x-large;
	list-style-position: outside; 
	padding-inline-start: 40%;
    padding-inline-end: 40%;
    text-align: left;
}

.remark-container {
  background-color: black;
}

.remark-slide-content {
  font-family: AdonideW01-Light;
  background-color: #EBEDED;
}
.remark-slide-content h1,
.remark-slide-content h2,
.remark-slide-content h3 {
  font-weight: bold;
  font-family: Handset Sans;
}
.remark-slide-content table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: 100%;
  overflow: auto;
}
.remark-slide-content ul {
	padding: 10px;
}
.remark-slide-content table tr:nth-child(2n) {
  background-color: white;
}
.remark-slide-content table th,
.remark-slide-content table td {
  display: table-cell;
  vertical-align: inherit;
  padding: 10px;
  border: 1px solid black;
}
.remark-slide-content table th {
  font-weight: bold;
}
.remark-slide-content pre {
  overflow: auto;
}
.remark-slide-content pre > code {
  border-radius: 0.4em;
  padding: 0.5em;
  background-color: #f6f8fa;
}
.remark-slide-content p > code,
.remark-slide-content li > code,
.remark-slide-content a > code {
  background-color: #f6f8fa;
  margin: 0;
  border-radius: 0.2em;
  padding: 0.15em 0.25em;
}
.remark-slide-content blockquote {
  margin: 0;
  padding: 0 0.5em;
  color: #6a737d;
  border-left: 0.125em solid #dfe2e5;
}
.remark-slide-content .remark-slide-number,
.remark-slide-content .footer li {
  background-color: #EBEDED;
  opacity: 1.0;
}